---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
{% for post in site.posts limit:1 %}
<!-- begin post -->
    {% if post.featured == true %}
    <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="jumbotron text-white rounded bg-dark">
            <div class="child" style="background-image: url({% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %});"></div>
            <div class="overlay">
                <div class="col-md-6 px-0 card-title">
                    <h1 class="display-5">{{ post.title }}</h1>
                    <p class="lead my-3">
                        {% if post.lead %}
                            {{ post.lead }}
                        {% else %}
                            {{ post.excerpt | strip_html | truncatewords:25 }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </a>
  {% endif %}
{% endfor %}


      



<section class="featured-posts">
    <div class="section-title">
        <h2><span>Destaques</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts offset:1 %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Mais publicações</span></h2>

    </div>

    <div class="row listrecent">

        <div class="col-lg-8 col-md-8">
            {% for post in paginator.posts %}
      
                    {% include postbox.html %}
             
            {% endfor %}
        </div>

        <div class="col-lg-4 col-md-4">
            <img src="https://via.placeholder.com/350" alt="Banner">
        </div>

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

